.cards {
  --dashboard-card-width: 24rem;
  --dashboard-card-gap: 1em;
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  gap: var(--dashboard-card-gap);
}

.card {
  width: var(--dashboard-card-width);
  margin-bottom: 1em;
}

.welcome-card {
  width: calc(
    (var(--dashboard-card-width) * 3) + (var(--dashboard-card-gap) * 2)
  );
}

.card-header {
  display: flex;
  justify-content: baseline;
  div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.header {
  padding-top: 1em;
}
