{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 1%, not dead"
            }
        ],
        "react-app"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "react-hot-loader/babel",
        // SEE: https://github.com/gajus/babel-plugin-react-css-modules/#options
        ["react-css-modules", {
            "filetypes": {
                // Allow plugin to recognize `.scss` via required convoluted method
                ".scss": { "syntax": "postcss-scss" }
            },
            // Support third-party component `className`-like properties
            "attributeNames": { "activeStyleName": "activeClassName" },
            "webpackHotModuleReloading": true,
            // WARNING: This MUST match `localIdentName` in `client/webpack.*.js`
            "generateScopedName": "[name]__[local]--[hash:base64:10]",
            // Allow multiple stylesheets to be imported without requiring "Named `styleName` resolution"
            // RFE: Do not allow this long-term, because components should only include one stylesheet
            "autoResolveMultipleImports": true
        }]
    ]
}
