.card-container {
  display: grid;
}

.pipeline-list-header {
  padding: 8px;
  border: 1px solid #000000;
  background: #eeeeee;
}

.pipeline-list-item {
  padding: 8px;
  background-color: #ffffff;
}

.card {
  max-width: 20em;
}
