.layout-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.layout-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: auto;
}

.constrain {
  max-height: 100%;
  overflow: hidden;
}
