.file-dropzone {
  background: #eeeeee;
  text-align: center;
  padding: 2em;
  cursor: pointer;
}

.files-list-header {
  padding-top: 0.5em;
}

.files-list {
  border: 1px solid #111111;
}

.upload-error {
  color: red;
}

.remove-file {
  cursor: pointer;
  color: red;
}
