.file-dropzone {
    background: #EEEEEE;
    text-align: center;
    padding: 2em;
    cursor: pointer;
}

.files-list-header {
    padding-top: .5em;
}

.files-list {
    border: 1px solid #111111;
}