@import url('./styles/global.css');

/*
  Sectioning Root
  ===
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Sectioning_root
*/

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  Inline Text Semantics
  ===
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element#Inline_text_semantics
*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
  External Layout
  ===
  Expand, to fill desired space, any wrapper elements
  that are outside scope of the application codebase
*/

/* Allow expansion (with no respect to ancestors and siblings)

    <html>
      <body>…</body>
    </html>
*/
/* FAQ: The CMS applies a `margin-top` on the `<html>` */
/* FAQ: The `html` and `body` boxes are only as tall as their content
        (which may be shorter than window height), cannot have siblings elements
        (would be influenced by force stretch), so force stretch outward. */
html,
body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Allow expansion (with respect to ancestors and siblings)

    <body>
      <div class="content">
        <div id="react-root">
          <div class="…">…</div>
        </div>
      </div>
    </body>
*/
/* FAQ: Shared hosting with CMS renders header and footer siblings */
/* FAQ: The `.content` and `#react-root` boxes are only as tall as their content
        (which may be shorter than window height), can have siblings elements
        (would be influenced by force stretch), so gently stretch outward. */
body,
body > .content,
#root {
  display: flex;
  flex-direction: column;
}
body > .content,
#root,
/* FAQ: If the app root element has only a single child,
        then it should be the same height as the app root */
#root > :only-child {
  flex-grow: 1;
}

/* FP-546: If this style has become unnecessary, then remove it */
.btn-link,
.btn-link:hover {
  color: var(--global-color-accent--normal);
}
