.root {
  // this padding is already handled in the workbench-content of App.scss
  // padding: 1em 1em 1em 1em;
}

.body {
  width: 100%;
  overflow: auto;
  display: flex;
}

.constrain {
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;

  .detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }
}

.nav {
  height: 100%;
  flex-basis: 20%;
  flex-shrink: 0;
  min-width: 14rem;
  overflow-x: hidden;
  overflow-y: auto;

  // Custom scrollbar styling
  &::-webkit-scrollbar {
    width: 11px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
  }
}

.detail {
  flex-basis: 100%;
  overflow: auto;
}

.sub-header {
  padding: 16px;
}
