.dashboard {
  padding: 1em;
}

.section {
  margin-bottom: 2rem;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}

.section-description {
  color: #666;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.card-container {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.card-header {
  display: flex;
  justify-content: baseline;

  div {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.platforms-container {
  margin-top: 1rem;
}

.no-platforms-alert {
  margin-top: 1rem;
  text-align: center;
}
