.file-dropzone {
  border-width: 2;
  border-radius: 2;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  text-align: center;
  padding: 2em;
  cursor: pointer;
}

.file-dropzone:focus {
  cursor: pointer;
}

.files-list-header {
  padding-top: 0.5em;
}

.files-list-container {
  border: 1px solid #111111;
}

.file-list-table {
  /* icon */
  tr > *:nth-child(1) {
    width: 7% !important;
  }
  /* name */
  tr > *:nth-child(2) {
    width: 38% !important;
  }
  /* size */
  tr > *:nth-child(3) {
    width: 20% !important;
  }
  /* status */
  tr > *:nth-child(4) {
    width: 35% !important;
    justify-content: center;
  }
}

.upload-error {
  color: red;
}

.remove-file {
  cursor: pointer;
  color: red;
  text-align: right;
  margin-right: 2em;
}

.progress-bar-container {
  height: 1.5em;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
