.loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .inline {
    width: 1.5rem;
    height: 1.5rem;
  }
  .section {
    width: 4rem;
    height: 4rem;
  }
}
button .loading-icon {
  display: inline-flex;
  vertical-align: middle;
  width: auto;
}
