.step-summary {
  padding-bottom: 1em;
  .name {
    display: flex;
    justify-content: space-between;
  }
  .content {
    font-size: smaller;
    padding-left: 1em;
  }
  .edit {
    padding: 0 0 0 0 !important;
  }
}

.submit {
  border-bottom: 1px solid var(--global-color-primary--normal);
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
