.file-list {
  /* icon */
  tr > *:nth-child(1) {
    width: 7%;
  }
  /* name */
  tr > *:nth-child(2) {
    width: 73%;
  }
  /* size */
  tr > *:nth-child(3) {
    width: 20%;
  }
}

.nav-list {
  height: 372px;
  width: 100%;
  border: 1px solid gray;
  margin-top: 0.25em;
  box-sizing: border-box;

  table {
    height: 350px;
    max-height: 350px;
  }
}
