.root {
  // this padding is already handled in the workbench-content of App.scss
  // padding: 1em 1em 1em 1em;
}

.body {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  width: 100%;
  min-height: 600px;
}

.list {
  flex-basis: 30%;
}

.detail {
  border: 1px solid gray;
  padding: 1em 1em 1em 1em;
  flex-basis: 100%;
}

.sub-header {
  padding-bottom: 1em;
}

.list-group {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 600px;
}

.list-group-item {
  flex-basis: 100%;
}

.list-group-item-body {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  min-height: 600px;
}