.count {
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 2px;
}

.card-container {
  display: grid;
}

.card {
  margin-top: 1em;
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.card-button {
  margin-right: 8px;
}
