.root {
  // this padding is already handled in the workbench-content of App.scss
  // padding: 1em 1em 1em 1em;
}

.body {
  width: 100%;
  overflow: auto;
  display: flex;
  margin-top: 1em;
}

.constrain {
  max-height: 100%;
  overflow: hidden;
}

.nav {
  margin-top: 1em;
  flex-basis: 20%;
  flex-shrink: 0;
  min-width: 200px;
  overflow: auto;
}

.detail {
  border: 1px solid gray;
  padding: 1em 1em 1em 1em;
  flex-basis: 100%;
  overflow: auto;
}

.sub-header {
  padding-bottom: 1em;
}
