.header {
  display: flex;
}

.step {
  display: flex;
  justify-content: center;
  margin-right: 1em;
}

.step-name {
  padding: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.step-icon {
  padding-top: 2px;
  margin-left: 3px;
}

.complete {
  color: var(--global-color-success--normal);
}

.incomplete {
  color: var(--global-color-success--weak);
}

.active-step {
  font-weight: bold !important;
}

.control {
  margin-right: 2px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
