$width: 215px;

.root {
  overflow-y: auto;
  flex-wrap: nowrap; /* Overwrite Bootstrap `_nav.scss` style for `.nav` */
  min-width: $width;
  max-width: $width;
  width: $width;
  background: #f4f4f4;
  border-right: 1px solid rgba(112, 112, 112, 0.25);
  padding-top: 20px;
}
