.toolbar_wrapper {
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
  display: flex !important;
}

.toolbar_btn {
  height: 2rem;
  align-items: center;
  margin-left: .5em;
  font-size: .7em !important;
  border-radius: 0 !important;
  background-color: #F4F4F4 !important;
  color: #333333 !important;
}

.toolbar_btn:disabled {
  color: #999999 !important;
}


