.box {
  display: flex;
  align-content: center;
}

.fragment {
  height: 26px;
  display: flex;
  align-content: center;
}

.link {
  padding: 0 0 0 0 !important;
  border: 0 !important;
  display: flex;
  align-content: center;
}
