.file-list {
  /* icon */
  tr > *:nth-child(1) {
    width: 5% !important;
  }
  /* name */
  tr > *:nth-child(2) {
    width: 5% !important;
  }
  /* size */
  tr > *:nth-child(3) {
    width: 63% !important;
  }
}
