.transfer-list {
  overflow-y: scroll;
  max-height: inherit;
  /* icon */
  tr > *:nth-child(1) {
    width: 5%;
  }
  /* name */
  tr > *:nth-child(2) {
    width: 75%;
  }
  tr > *:nth-child(3) {
    width: 20%;
  }
}

.selected {
  background-color: var(--global-color-accent--normal) !important;
}

.link {
  padding: 0 0 0 0;
}

.selectable {
  cursor: pointer;
}
