.count {
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 2px;
}

.container {
  margin-top: 16px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.archive {
  border-bottom: 1px solid #cccccc;
  padding: 20px;
  cursor: pointer;
}

.archive:hover {
  background: #cccccc;
}

.last {
  border-bottom: none;
}

.odd {
  background-color: #f9f9f9;
}

.even {
  background-color: #ffffff;
}
