/* Block */

.root {
  /* … */
}

/* Modifiers */

/* NOTE: Similar on: SectionContent, SectionTable */
.should-scroll {
  /* We want to permit vertical scrolling, without forcing it… can we? */
  /* FAQ: Did not set `overflow: auto`, because that would certainly hide negative-margined sidebar links */
  /* CAVEAT: Setting `overflow-y` still hides the negative-margined sidebar links because `overflow-x: visible` (default) is re-intepreted as `auto` */
  /* SEE: https://stackoverflow.com/a/6433475/11817077 */
  overflow-y: auto;
}
.root:not(.should-scroll) {
  overflow: hidden;
}

/* Color-code panels to easily track movement of multiple panels */
.should-debug-layout::before {
  background-color: tomato;
}
.should-debug-layout > *:nth-child(1) {
  background-color: orchid;
}
.should-debug-layout > *:nth-child(2) {
  background-color: dodgerblue;
}
.should-debug-layout > *:nth-child(3) {
  background-color: yellow;
}
.should-debug-layout > *:nth-child(4) {
  background-color: mediumseagreen;
}
.should-debug-layout::after {
  background-color: gray;
}
