.center {
  text-align: center;
}

.grid {
  display: grid;
  gap: 0.5em;
}

.pipeline-run-container {
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 20px; /* Adjusted padding */
  margin-bottom: 10px;
}

.pipeline-run-body {
  padding: 1em;
  border: 1px solid #dddddd;
  margin-bottom: 1em;
}

.pipeline-run-body p {
  padding: 0;
  margin: 0;
}

.section-header {
  margin-top: 16px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 8px; /* Added padding */
}

.separator {
  margin-top: 1em;
  padding-top: 8px; /* Added padding */
}

.task-executions {
  padding-top: 16px; /* Adjusted padding */
}

.task-executions p {
  padding: 16px; /* Adjusted padding */
}
