//Defines styles with padding for various elements.
.task-executions-container {
    padding: 20px; // Add padding to the container
  }
  
  .table-container {
    padding: 10px; // Add padding to the table container
  }
  
  .gantt-container {
    padding: 16px; // Add padding to the Gantt container
  }
  