.root {
  padding: 1em 1em 1em 1em;

}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  width: 100%;
}

.list {
  flex-basis: 100%;
}

.detail {
  border: 1px solid gray;
  padding: 1em 1em 1em 1em;
  flex-basis: 100%;
}