.remove {
  margin-top: 0.75em;
}

.nospace {
  padding-top: 0;
  padding-bottom: 0;
}

.job-input {
  margin-bottom: 0.5em;
}

.description {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 0.5em;
}
