.remove {
  margin-top: 0.75em;
}

.nospace {
  padding-top: 0;
  padding-bottom: 0;
}

.optional-input {
  .description {
    font-style: italic;
  }
}

.job-inputs {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid gray;
}
