/* SETTINGS: Border */

/* Usage: `var(--global-space--section-right)` */
/* SEE: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */

:root {
  --global-space--section-top: 0.75rem; /* 12px (~10px design * 1.2 design-to-app ratio) */
  --global-space--section-bottom: 0;
  --global-space--section-left: 1.5rem; /* 24px (~20px design * 1.2 design-to-app ratio) */
  --global-space--section-right: 2.25rem; /* 36px (~30px design * 1.2 design-to-app ratio) */
  --global-space--section: var(--global-space--section-top)
    var(--global-space--section-right) var(--global-space--section-bottom)
    var(--global-space--section-left);
}
