.tasks {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.task {
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.2rem;
  border: 1px solid #dddddd;
}

.task-header {
  background-color: #eeeeee;
  padding: 8px;
  border-bottom: 1px solid #dddddd;
}

.task-body {
  padding: 8px;
}

.tasks p {
  margin: 0;
  padding: 0;
}
