.file-list,
.file-list-select {
  overflow-y: hidden;
  max-height: inherit;
  td > a {
    width: initial;
  }
  tbody {
    height: inherit;
  }
}

/* Dashboard Table */
@media only screen and (min-width: 1680px) {
  .file-list {
    /* icon */
    tr > *:nth-child(1) {
      width: 3%;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 62%;
    }
    /* size */
    tr > *:nth-child(3) {
      width: 15%;
    }
    /* lastModified */
    tr > *:nth-child(4) {
      width: 20%;
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1679px) {
  .file-list {
    /* icon */
    tr > *:nth-child(1) {
      width: 3%;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 62%;
    }
    /* size */
    tr > *:nth-child(3) {
      width: 15%;
    }
    /* lastModified */
    tr > *:nth-child(4) {
      width: 20%;
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .file-list {
    /* icon */
    tr > *:nth-child(1) {
      width: 4%;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 57%;
    }
    /* size */
    tr > *:nth-child(3) {
      width: 17.5%;
    }
    /* lastModified */
    tr > *:nth-child(4) {
      width: 19.5%;
    }
  }
}
@media only screen and (max-width: 1199px) {
  .file-list {
    /* icon */
    tr > *:nth-child(1) {
      width: 5%;
    }
    /* name */
    tr > *:nth-child(2) {
      width: 62%;
    }
    /* size */
    tr > *:nth-child(3) {
      width: 15.5%;
    }
    /* lastModified */
    tr > *:nth-child(4) {
      width: 17.5%;
    }
  }
}

/* History Table */
@media only screen and (min-width: 1680px) {
  .file-list-select {
    /* check */
    tr > *:nth-child(1) {
      width: 3%;
    }
    /* icon */
    tr > *:nth-child(2) {
      width: 3%;
    }
    /* name */
    tr > *:nth-child(3) {
      width: 61%;
    }
    /* size */
    tr > *:nth-child(4) {
      width: 14%;
    }
    /* lastModified */
    tr > *:nth-child(5) {
      width: 19%;
    }
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1679px) {
  .file-list-select {
    /* check */
    tr > *:nth-child(1) {
      width: 3%;
    }
    /* icon */
    tr > *:nth-child(2) {
      width: 3%;
    }
    /* name */
    tr > *:nth-child(3) {
      width: 61%;
    }
    /* size */
    tr > *:nth-child(4) {
      width: 14%;
    }
    /* lastModified */
    tr > *:nth-child(5) {
      width: 19%;
    }
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .file-list-select {
    /* check */
    tr > *:nth-child(1) {
      width: 4%;
    }
    /* icon */
    tr > *:nth-child(2) {
      width: 4%;
    }
    /* name */
    tr > *:nth-child(3) {
      width: 57%;
    }
    /* size */
    tr > *:nth-child(4) {
      width: 16.5%;
    }
    /* lastModified */
    tr > *:nth-child(5) {
      width: 18.5%;
    }
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .file-list-select {
    /* check */
    tr > *:nth-child(1) {
      width: 5%;
    }
    /* icon */
    tr > *:nth-child(2) {
      width: 5%;
    }
    /* name */
    tr > *:nth-child(3) {
      width: 59%;
    }
    /* size */
    tr > *:nth-child(4) {
      width: 14.5%;
    }
    /* lastModified */
    tr > *:nth-child(5) {
      width: 16.5%;
    }
  }
}
@media only screen and (max-width: 991px) {
  .file-list-select {
    /* check */
    tr > *:nth-child(1) {
      width: 5%;
    }
    /* icon */
    tr > *:nth-child(2) {
      width: 5%;
    }
    /* name */
    tr > *:nth-child(3) {
      width: 59%;
    }
    /* size */
    tr > *:nth-child(4) {
      width: 14.5%;
    }
    /* lastModified */
    tr > *:nth-child(5) {
      width: 16.5%;
    }
  }
}

.link {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  font-size: 1em !important;
}

.selected {
  background-color: var(--global-color-accent--weak) !important;
}

.select-all {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2px;
}
