.model-details {
  padding-left: 1em;
  padding-right: 1em;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
  gap: 20px;
}

.model-details-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.model-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
}

.model-title {
  padding-bottom: 8px;
  margin-left: 10px;
}

.model-detail {
  display: flex;
  flex-direction: row;
}

.detail-title {
  font-weight: bold;
  width: 10vw;
}

.detail-info {
  margin-left: 8px;
  text-align: left;
}

.model-title-container {
  border-bottom: 1px solid black;
  margin-bottom: 8px;
}

.download-links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.download-url-button {
  height: 40px;
}

.modal {
  overflow-y: auto;
  max-height: 90vh;
}
