.tab {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 1px dotted var(--global-color-primary--dark);
  border-left: 1px dotted var(--global-color-primary--dark);
  border-bottom: 1px dotted var(--global-color-primary-dark);
  background-color: var(--global-color-primary--normal);
  a {
    color: var(--global-color-primary--xx-dark);
  }
  :hover {
    cursor: pointer;
  }
}

.active {
  background-color: var(--global-color-primary--xx-light);
}

.tab-content {
  min-height: 30em;
}

.list-content {
  font-size: 0.78em;
}
