.container {
  padding: 16px;
}

.workflows-overview-container {
  margin-top: 10px;
}

.workflows-overview-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.pipeline-list-container {
  margin-top: 10px;
}
