.pipeline-run-container {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 16px;
    margin-bottom: 10px
}

.pipeline-run-body {
    padding: 8px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.pipeline-run-body p {
    padding: 0;
    margin: 0;
}