.pipeline-run-container {
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 16px;
  margin-bottom: 10px;
}

.pipeline-run-body p {
  padding: 0;
  margin: 0;
}

.section-header {
  margin-top: 16px;
  border-bottom: 1px solid #dddddd;
}

.task-executions {
  padding-top: 8px;
}

.task-executions p {
  padding: 8px;
}
