.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;

  > :first-child {
    white-space: nowrap;
    flex-shrink: 0;
  }
}

.loading-spinner {
  width: inherit;
}

.reverse {
  flex-direction: row-reverse;
}
