.breadcrumbs {
  text-transform: none;
  font-size: 0.8em;
  line-height: 1.8em;
}

.Files {
  margin: 9px;
  // margin-top: 1cqi;
  position: relative;
  top: 10px;
  right: 08px;
}

.Files-Help {
  padding-left: 1cap;
}
