.system-list {
  overflow-y: scroll;
  max-height: inherit;
  /* icon */
  tr > *:nth-child(1) {
    width: 5%;
  }
  /* name */
  tr > *:nth-child(2) {
    width: 95%;
  }
}

.selected {
  background-color: var(--global-color-accent--normal);
}

.link {
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  font-size: 1em !important;
}
