.submit {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  * {
    margin-left: 0.5em;
  }
}

.header {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.loading-spinner {
  margin-left: 1em;
  width: inherit;
}

.message {
  margin-top: 0.5em;
  min-height: 2em;
}
